* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #ffffff;
    color: #ccc;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #a30000;
    color: rgb(255, 255, 255);
    padding: 1rem 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    font-weight: 800;
    display: flex;
    align-items: center;
}

.logo-image {
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.logo-image:hover {
    transform: scale(1.05);
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-link a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0;
    transition: all 0.3s ease;
    list-style: none;
}

.nav-link a:hover {
    color: #ffe600b0;
    border-bottom: 2px solid #ffe600ad;
}

.nav-menu .nav-link:first-child a {
    font-weight: bold;
}

.container {
    padding: 3rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-bottom: 3rem;
    color: #ff00009b;
    font-size: 2.5rem;
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    flex-direction: row;
}

.card-grid {
    width: 100;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-items: center;
}

.cards {
    background-color: rgb(187, 3, 3);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    flex: 1 1 calc(5% - 10px);
    min-width: 250px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cards:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 15px 30px rgba(255, 0, 0, 0.3);
    border-color: #ff0000;
}

.card-content {
    padding: 1.5rem;
    text-align: left;
}

.card-title {
    margin-bottom: 0.5rem;
    color: #f8f2e5;
    font-size: 1.3rem;
    border-bottom: 1px dashed #444;
    padding-bottom: 5px;
}

.card-description {
    font-size: 15px;
    margin-bottom: 0;
    color: #ffffff;
}

.card.diversos {
    width: 100px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: #A30000;
    color: white;
    text-align: center;
    padding: 1.5rem;
    margin-top: auto;
}

@media (max-width: 1200px) {
    .cards {
        flex: 1 1 calc(33.333% - 30px);
    }
}

@media (max-width: 850px) {
    .cards {
        flex: 1 1 calc(50% - 30px);
    }
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        gap: 0.5rem;
    }

    .nav-menu {
        justify-content: center;
        gap: 1rem;
    }

    .cards {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .title {
        font-size: 2rem;
    }
}